<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dewclaw > <%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png" %>

    <%= yield :styles %>
  </head>

  <body>
    <% if content_for? :body %>
      <%= yield :body %>
    <% else %>
        <div class="container">
          <%= render 'components/navbar/main' %>
          <%= yield %>
        </div>
    <% end %>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <%= render 'components/flashes' %>
    </div>
  </body>
</html>
